Idrisa-data science Notebook.

## Introduction
This notebook shows some aspects of data science, including languages, libraries, tools, and practical examples. It is designed to provide a basic understanding of the key concepts and applications in data science.

## Data Science Languages
- Python
- R
- SQL
-Otherlanguages like Julia and Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool        | Description                |
|-------------|----------------------------|
| Jupyter     | Interactive computing environment |
| GitHub       | Version control and collaboration platform |
| Anaconda    | Distribution of Python and R for scientific computing |
| Tableau     | Data visualization tool     |

## Arithmetic Expression Examples
In this section, we will demonstrate basic arithmetic expressions and their results.

In [4]:
# Multiply and add numbers
a = 5
b = 3
result = a * b + a
result

20

In [5]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
hours

2.5

## Objectives
- Understand basic data science languages and libraries.
- Learn about essential tools used in data science.
- Practice simple arithmetic operations in Python.
- Convert units using Python code.

## Author
**Idrisa Mustafa SELEMANI**